@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");

* {
    margin: 0;
    font-family: Oxanium;
    
}   
body {
    
    background-color: #ffffff;
    background-image: url("../img/planets/bg_space2.jpg");
    background-position: 0%;
    background-attachment: fixed;
    overflow: hidden;

    animation: bg_rotation 200s linear infinite;
}

@keyframes bg_rotation {

    0%  {
        background-position: 0%;
    }

    100% {
        background-position: 370%;
    }
}


.title {
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: center;

    grid-template-rows: 200px 800px 300px;
}

h1 {

    color: white;
    font-size: 50px;
    text-align: center;
}

.container-planet {

    position: relative;
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    grid-row: 2;
}


/*-----------------------------------------------------------------------*/
/*------------------------------CLASS PLANET-----------------------------*/
/*-----------------------------------------------------------------------*/

.planet {
    position: relative;
    display: inline-block;
    margin: 50px;
    background-repeat: repeat;
    background-size: cover;
    box-shadow: inset 2px 2px 10px black, inset -2px -2px 10px black;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

.info {

    display: flex;
    position: absolute;
    width: 200px;
    height: 150px;

    flex-direction: column;

    background-color: #1b1743b5;
    top: 50%; /* Pongo el borde superior del div en el centro del planeta */
    transform: translateY(-50%); /* Translado el div el %50 de su tamaño hacia arriba, para centrarlo */
    pointer-events: none;
    transition: opacity 1s ease-in-out;
    border-radius: 10px;

    opacity: 0;
}

.planet:hover{
    transform: scale(3);
    z-index: 100;

}

.planet:hover .info {
    opacity: 1;
}


@keyframes planet_rotation {

    0% {
        background-position: 0%;
    }

    100% {
        background-position: 200%;
    }
}

/*------------------------------------------------------------------*/
/*--------------------------------SOL-------------------------------*/
/*------------------------------------------------------------------*/

.sun {
    margin-left: -10%;

    width: 300px;
    height: 300px;
    border-radius: 300px;
    
    background-image: url("../img/planets/sun.jpg");
    background-repeat: repeat;
    background-size: cover;
    box-shadow: 2px 2px 100px #fac68a, -2px -2px 10px #fac68a, /* Brillo exterior del sol */ 
                inset 2px 2px 100px rgb(255, 201, 92), inset -2px -2px 10px rgb(255, 201, 92); /* Brillo interior del sol */  

    animation: planet_rotation 200s linear infinite; 
    z-index: 10;
    transition: all 1.5s ease-in-out;
}

.sun:hover{
    transform: scale(1.8);
    transition: 1.5s ease-in-out;
}

.sun .info {
    width: 300px;
    height: 300px;
}

.sun .info h2{
    font-size: 20px;
}

.sun .info p{
    font-size: 15px;
}

.sun:hover .info {

    opacity: 1;
}

/*-----------------------------------------------------------------------*/
/*------------------------------PLANETS-----------------------------*/
/*-----------------------------------------------------------------------*/

.mercury {
        
    width: 22.5px;
    height: 22.5px;
    border-radius: 22.5px;
    background-image: url("../img/planets/mercury.jpg");
    animation: planet_rotation 586s linear infinite; 
    
}

.venus {

    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-image: url("../img/planets/venus.jpg");
    animation: planet_rotation 2430s linear infinite;
}

.venus-atmosphere {

    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-image: url("../img/planets/venus_aura.jpg");
    opacity: .5;
    background-repeat: repeat;
    background-size: cover;
    box-shadow: inset 2px 2px 10px black, inset -2px -2px 10px black;
    animation: planet_rotation 2430s linear infinite;
}



.earth {

    width: 42.5px;
    height: 42.5px;
    border-radius: 42.5px;
    background-image: url("../img/planets/earth.jpg");
    animation: planet_rotation 10s linear infinite;
}

.earth-atmosphere {

    position: absolute;
    width: 42.5px;
    height: 42.5px;
    border-radius: 42.5px;
    background-image: url("../img/planets/earth_atmospherejpg.jpg");
    opacity: .5;
    background-repeat: repeat;
    background-size: cover;
    box-shadow: 1px 1px 10px #fac68a, -1px -2px 10px #fac68a;
    animation: planet_rotation 10s linear infinite; 
}

.mars {

    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-image: url("../img/planets/mars.jpg");
    animation: planet_rotation 10.4s linear infinite;
}

.jupiter {

    width: 70px;
    height: 70px;
    border-radius: 70px;
    background-image: url("../img/planets/jupiter.jpg");
    animation: planet_rotation 4.1s linear infinite;
}

.saturn {

    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-image: url("../img/planets/saturn.jpg");
    animation: planet_rotation 4.5s linear infinite;
}

.saturn::before {
    content:'';
    position: absolute;
    width: 150px;
    height: 30px;

    top: 50%;
    transform: translate(-30%,-50%) rotateZ(20deg);

    background: radial-gradient(circle at center, transparent 30%, rgba(232, 206, 159, 0.4)), url("../img/planets/asteroids.png") center;
    
    /*background: rgba(233, 211, 169, 0.508);*/
    border-radius: 50%;

}


.uranus {

    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-image: url("../img/planets/uranus.jpg");
    animation: planet_rotation 7s linear infinite;

}

.neptune {

    width: 45px;
    height: 45px;
    border-radius: 45px;
    background-image: url("../img/planets/neptune.jpg");
    animation: planet_rotation 6.6s linear infinite;

}

h2 {

    margin-top: 10px;
    color: white;
    font-size: 14px;
    text-align: center;
}

p {

    color: white;
    width: fit-content;
    height: fit-content;
    font-size: 10px ;
    padding: 10px;
}
