@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");


*{
    margin: 0;
    font-family: Rubik;
}
body {
    background-color: #391c22;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    width: 100%;
    height: 80px;
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 5px solid #4f2c33;
}
.button {
	display: flex;
    width: 100%;
    margin: auto;
    text-align: center;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
}
.button a {
    width: 100%;
    padding: 20px;
    color: #ffe8be;
    text-decoration: none;
    transition:.3s ease-in-out ;
    border-radius: 50px;
    background-color: #522831;
}


.button a:hover{
    background: #ffe8be;
    color: #522831;
    transform: scale(1.05);
}
.container-card {
    width: 80vw;
    height: 60vh;
    margin-top: 20px;
    border: 2px solid transparent;
    justify-content: center;
    display: flex;
    border-radius: 24px;
    background: linear-gradient(145deg, #582b34, #4a242c);
    
    /*
    box-shadow:  11px 11px 14px #422027,
    -11px -11px 14px #62303b;

    */
}
.card{
    padding: 30px;
    color: #ffe8be;
    width: 30vw;
    height: 40vh;
    font-size: 18px;
    font-weight: bold;    
    margin: auto;
}
.title{
    color: #522831;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom:2px solid #381b21;
    border-radius: 50px;
    background-color: #ffe8be;
    box-shadow:  11px 11px 14px #422027,
    -11px -11px 14px #62303b;
}
.footer{
    border: 2px solid transparent;
    margin-top: 20px;
    width: 80vw;
    height: 20vh;
    border-radius: 50px;
    background-color: #522831;
}

.biography{
    padding: 20px;
    color: #ffe8be;
    width: auto;
    height: auto;
    font-size: 18px;
    font-weight: bold;
}